body {
    margin: 10px;
    background-color: darkslategrey;
    color: gray;
    text-align: center;
}

.temperature {
//     background-color: white;
}

#till {
    background-color: #402020;
    font-size: x-large;
    vertical-align: center;
}

#wohnzimmer {
    background-color: #202040;
    font-size: x-large;
    vertical-align: center;
}
