<html lang="de">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="default-style.css">
    <script>
      function myFunction(body) {
	  let req = new XMLHttpRequest();
	  req.open("PUT", document.documentURI);
	  req.send(body);
	  //document.getElementById("demo").innerText = "BUTTON";
      }
    </script>
  </head>
  <body>

    <h1>Haus</h1>
    <!-- <img src="img/house.png" width="20%"/> -->
    <!-- <hr/> -->
    <br/>
    <div id="till">
      <div class="temperature">{{ till }} &deg;C </div>
<!--      <input type="submit" value="aus" onclick="myFunction('Moin');" >
      <input type="submit" value="an" onclick="myFunction('Hallo');" > -->
    </div>

<!--    <div id="wohnzimmer">
      <input type="submit" value="aus" onclick="myFunction('Moin');" >
      <input type="submit" value="an" onclick="myFunction('Hallo');" >
    </div> -->

    <div id="A">
      A:
      <input type="submit" value="aus" onclick="myFunction('A-off');" >
      <input type="submit" value="an" onclick="myFunction('A-on');" >
    </div>

    <div id="B">
      B:
      <input type="submit" value="aus" onclick="myFunction('B-off');" >
      <input type="submit" value="an" onclick="myFunction('B-on');" >
    </div>

    <div id="C">
      C:
      <input type="submit" value="aus" onclick="myFunction('C-off');" >
      <input type="submit" value="an" onclick="myFunction('C-on');" >
    </div>

    <div id="D">
      D:
      <input type="submit" value="aus" onclick="myFunction('D-off');" >
      <input type="submit" value="an" onclick="myFunction('D-on');" >
    </div>

    <div id="E">
      E:
      <input type="submit" value="aus" onclick="myFunction('E-off');" >
      <input type="submit" value="an" onclick="myFunction('E-on');" >
    </div>

    <div id="F">
      F:
      <input type="submit" value="aus" onclick="myFunction('F-off');" >
      <input type="submit" value="an" onclick="myFunction('F-on');" >
    </div>

    <div id="G">
      G:
      <input type="submit" value="aus" onclick="myFunction('G-off');" >
      <input type="submit" value="an" onclick="myFunction('G-on');" >
    </div>

    <div id="H">
      H:
      <input type="submit" value="aus" onclick="myFunction('H-off');" >
      <input type="submit" value="an" onclick="myFunction('H-on');" >
    </div>


      <!-- <img src="img/thermometer.png" width="10%"/> -->
    <!-- <hr/> -->

    <!--
	<form action="" method="post">
	  <label for="test">Test2</label>
	  <input type="text" id="test" name="ftest">
	  -->
	  <!-- </form> -->
  </body>
</html>
