<html lang="de">
  <head>
    <title>{{ foo }}</title>
    <script>
      function myFunction(body) {
	  let req = new XMLHttpRequest();
	  req.open("PUT", document.documentURI);
	  req.send(body);
	  //document.getElementById("demo").innerText = "BUTTON";
      }
    </script>
  </head>
  <body>


    <h1>Wetter</h1>

    A: {{ temp_a }}
    B: {{ temp_b }}
    C: {{ temp_c }}
    <br/>

    <!--
	<form action="" method="post">
	  <label for="test">Test2</label>
	  <input type="text" id="test" name="ftest">
	  -->
	  <input type="submit" value="Moin" onclick="myFunction('Moin');" >
	  <input type="submit" value="Hallo" onclick="myFunction('Hallo');" >
	  <!-- </form> -->
  </body>
</html>
