<html lang="de">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="default-style.css">
    <script>
      function myFunction(body) {
      let req = new XMLHttpRequest();
      req.open("PUT", document.documentURI);
      req.send(body);
      //document.getElementById("demo").innerText = "BUTTON";
      }

      function toggleVisibility(id) {
      var e = document.getElementById(id);
      if (e.style.display != "block") {
      e.style.display = "block";
      } else {
      e.style.display = "none";
      }
      }

      function testWebsocket() {
      if ("WebSocket" in window) {
      alert("WebSocket is available");
      }
      }

      async function testJsonPost() {
      const response = await fetch('/n/tv/input/key', {
      method: 'POST',
      body: "{ \"key\": \"Pause\"}",
      headers: { 'Content-Type': 'application/json' }
      });
      const myjson = await response.json();
      alert("response: " + myjson);
      console.log(myjson);
      }
    </script>
    <!-- <script src="functions.js"></script> -->
  </head>
  <body>
<!--    <img src="img/house.png" width="150px" onclick="testJsonPost();" /> -->
    <!-- <hr/> -->
    <div id="message">{{ flur_brightness }} -- {{ till }}</div> 

    <div class="etage_box">
      <h2>T&uuml;r <img src="img/house.png" width="32px" /></h2>
      <input type="submit" value="Klingel" onclick="myFunction('Switch Klingel 1');" />
      <input type="submit" value="Summer" onclick="myFunction('Switch Summer 1');" />
    </div>

    <div class="etage_box">
      <h2 onclick="toggleVisibility('etage_unten');">Erdgeschoss</h2>
      <div id="etage_unten" class="etage">
	<div class="room_box">
	  <h3 onclick="toggleVisibility('eg_flur');">Flur</h3>
	  <div id="eg_flur" class="room">
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="Aus" onclick="myFunction('Dimmer EgFlurSpots 0');" />
	    <input type="submit" value="Dunkel" onclick="myFunction('Dimmer EgFlurSpots 10');" />
	    <input type="submit" value="Mittel" onclick="myFunction('Dimmer EgFlurSpots 64');" />
	    <input type="submit" value="Hell" onclick="myFunction('Dimmer EgFlurSpots 255');" />
	  </div>
	</div>

	<div class="room_box">
	  <h3 onclick="toggleVisibility('eg_wohn');">Wohnzimmer</h3>
	  <div id="eg_wohn" class="room">
	    Spots:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="Aus" onclick="myFunction('Dimmer EgWohnSpots 0');" />
	    <input type="submit" value="20%" onclick="myFunction('Dimmer EgWohnSpots 20');" />
	    <input type="submit" value="25%" onclick="myFunction('Dimmer EgWohnSpots 25');" />
	    <input type="submit" value="30%" onclick="myFunction('Dimmer EgWohnSpots 30');" />
	    <input type="submit" value="Mittel" onclick="myFunction('Dimmer EgWohnSpots 64');" />
	    <input type="submit" value="Hell" onclick="myFunction('Dimmer EgWohnSpots 255');" />
	    <br/>

	    Sofa:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="Aus" onclick="myFunction('Dimmer EgWohnMitte 0');" />
	    <input type="submit" value="Dunkel" onclick="myFunction('Dimmer EgWohnMitte 10');" />
	    <input type="submit" value="Mittel" onclick="myFunction('Dimmer EgWohnMitte 64');" />
	    <input type="submit" value="Hell" onclick="myFunction('Dimmer EgWohnMitte 255');" />
	    <br/>

	    Rollo einzel:
	    <input type="submit" value="Auf" onclick="myFunction('RolloWert EgWohnRolloEinzel 1%');" />
	    <input type="submit" value="Halb" onclick="myFunction('RolloWert EgWohnRolloEinzel 40%');" />
	    <input type="submit" value="85%" onclick="myFunction('RolloWert EgWohnRolloEinzel 85%');" />
	    <input type="submit" value="Zu" onclick="myFunction('RolloWert EgWohnRolloEinzel 100%');" />
	    <br/>

	    Rollo doppel:
	    <input type="submit" value="Auf" onclick="myFunction('RolloWert EgWohnRolloDoppel 1%');" />
	    <input type="submit" value="Halb" onclick="myFunction('RolloWert EgWohnRolloDoppel 40%');" />
	    <input type="submit" value="85%" onclick="myFunction('RolloWert EgWohnRolloDoppel 85%');" />
	    <input type="submit" value="Zu" onclick="myFunction('RolloWert EgWohnRolloDoppel 100%');" />
	    <br/>
	    
	    Dose Fensterbank:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="Aus" onclick="myFunction('Switch EgWohnDoseFenster 0');" />
	    <input type="submit" value="An" onclick="myFunction('Switch EgWohnDoseFenster 1');" />
	    <br/>

	    Dosen TV:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="Aus" onclick="myFunction('Switch EgWohnDosen 0');" />
	    <input type="submit" value="An" onclick="myFunction('Switch EgWohnDosen 1');" />
	    <br/>

	    Dosen Sofa-Ecke:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="Aus" onclick="myFunction('Switch EgWohnDosen2 0');" />
	    <input type="submit" value="An" onclick="myFunction('Switch EgWohnDosen2 1');" />
	    <br/>
	  </div>
	</div>

	<div class="room_box">
	  <h3 onclick="toggleVisibility('eg_arbeit');">Arbeitszimmer</h3>
	  <div id="eg_arbeit" class="room">
	    Spots:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="Aus" onclick="myFunction('Dimmer EgArbeitSpots 0');" />
	    <input type="submit" value="20%" onclick="myFunction('Dimmer EgArbeitSpots 20');" />
	    <input type="submit" value="25%" onclick="myFunction('Dimmer EgArbeitSpots 25');" />
	    <input type="submit" value="30%" onclick="myFunction('Dimmer EgArbeitSpots 30');" />
	    <input type="submit" value="Mittel" onclick="myFunction('Dimmer EgArbeitSpots 64');" />
	    <input type="submit" value="Hell" onclick="myFunction('Dimmer EgArbeitSpots 255');" />
	    <br/>

	    Arbeit Lampe:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="aus" onclick="myFunction('Switch EgArbeitLight 0');" />
	    <input type="submit" value="an" onclick="myFunction('Switch EgArbeitLight 1');" >
	    <br/>

	    Arbeit Schreibtisch:
	    <input type="submit" value="aus" onclick="myFunction('Switch EgArbeitSchreibtisch 0');" />
	    <input type="submit" value="an" onclick="myFunction('Switch EgArbeitSchreibtisch 1');" />
	    <br/>

	    Arbeit Dosen:
	    <input type="submit" value="aus" onclick="myFunction('Switch EgArbeitDosen 0');" />
	    <input type="submit" value="an" onclick="myFunction('Switch EgArbeitDosen 1');" />
	    <br/>

    	    Rollo:
	    <input type="submit" value="Auf" onclick="myFunction('RolloWert EgArbeitRollo 1%');" />
	    <input type="submit" value="Halb" onclick="myFunction('RolloWert EgArbeitRollo 40%');" />
	    <input type="submit" value="85%" onclick="myFunction('RolloWert EgArbeitRollo 85%');" />
	    <input type="submit" value="Zu" onclick="myFunction('RolloWert EgArbeitRollo 100%');" />
	    <br/>
	  </div>
	</div>

	<div class="room_box">
	  <h3 onclick="toggleVisibility('eg_essen');">Esszimmer</h3>
	  <div id="eg_essen" class="room">
	    Essen Spots:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="Aus" onclick="myFunction('Dimmer EgEssenSpots 0');" />
	    <input type="submit" value="20%" onclick="myFunction('Dimmer EgEssenSpots 20');" />
	    <input type="submit" value="25%" onclick="myFunction('Dimmer EgEssenSpots 25');" />
	    <input type="submit" value="30%" onclick="myFunction('Dimmer EgEssenSpots 30');" />
	    <input type="submit" value="Mittel" onclick="myFunction('Dimmer EgEssenSpots 64');" />
	    <input type="submit" value="Hell" onclick="myFunction('Dimmer EgEssenSpots 255');" />
	    <br/>

	    Essen Dosen:
	    <input type="submit" value="aus" onclick="myFunction('Switch EgEssenDosen 0');" />
	    <input type="submit" value="an" onclick="myFunction('Switch EgEssenDosen 1');" />
	  </div>
	</div>


	<div class="room_box">
	  <h3 onclick="toggleVisibility('eg_wc');">WC</h3>
	  <div id="eg_wc" class="room">
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="aus" onclick="myFunction('Switch EgWcLight 0');" />
	    <input type="submit" value="an" onclick="myFunction('Switch EgWcLight 1');" >
	  </div>
	</div>

	<div class="room_box">
	  <h3 onclick="toggleVisibility('eg_kueche');">K&uuml;che</h3>
	  <div id="eg_kueche" class="room">
	    Licht:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="aus" onclick="myFunction('Switch EgKueche 0');" />
	    <input type="submit" value="an" onclick="myFunction('Switch EgKueche 1');" >
	  </div>
	</div>
      </div>
    </div><!-- etage_box -->

        <div class="etage_box">
      <h2 onclick="toggleVisibility('etage_oben');">Oben</h2>
      <div id="etage_oben" class="etage">
	<div class="room_box">
	  <h3 onclick="toggleVisibility('till')">Till</h3>
	  <div id="till" class="room">
	    Temperatur:
	    <div class="temperature"> <img class="thermometer" src="img/thermometer.png" width="25"/> {{ till }} &deg;C </div>

	    Licht:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="Aus" onclick="myFunction('Switch OgTillLight 0');" />
	    <input type="submit" value="An" onclick="myFunction('Switch OgTillLight 1');" />
	  </div>
	</div>
	<div class="room_box">
	  <h3 onclick="toggleVisibility('og_flur')">Flur/Schrankzimmer</h3>
	  <div id="og_flur" class="room">
	    Licht/Dosen:
	    <input type="submit" value="Aus" onclick="myFunction('Switch OgFlurSchrankzimmer 0');" />
	    <input type="submit" value="An" onclick="myFunction('Switch OgFlurSchrankzimmer 1');" />
	  </div>
	</div>

	<div class="room_box">
	  <h3 onclick="toggleVisibility('og_schlafzimmer')">Schlafzimmer</h3>
	  <div id="og_schlafzimmer" class="room">
	    Licht/Dosen:
	    <img src="img/bulb-on.png" width="50"/>
	    <input type="submit" value="aus" onclick="myFunction('Switch OgSchlafzimmer 0');" />
	    <input type="submit" value="an" onclick="myFunction('Switch OgSchlafzimmer 1');" />
	  </div>
	</div>
      </div>
    </div><!-- etage_box -->


  </body>
</html>
